{% extends 'cash_flow/base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название справочника</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th scope="row">1</th>
        <td><a href="{% url 'statuses' %}">Статусы</a></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td><a href="{% url 'operation_types' %}">Типы</a></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td><a href="{% url 'categories' %}">Категории</a></td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td><a href="{% url 'subcategories' %}">Подкатегории</a></td>
    </tr>
    </tbody>
</table>
{% endblock %}